body
{
     
    background-color:grey;
    width: 100%;

}

h1
{
   
    text-decoration: underline;
    font-size: 3rem;
}

.structure
{
    width: 500px;
}

span {
    font-size: 2rem;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}

p{
    font-size: 1.8rem;
}

.button
{
    display: flex;
    justify-content: space-around;
}

button
{
    height: 50px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: blanchedalmond;
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px #888888;
}

button:hover{
    height: 70px;
    width: 170px;
    color: grey;
}